<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1067751598564-gngtu24iscvr3ct7gu3djvnjbrhn4e58.apps.googleusercontent.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOMANIA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb4d56eab3.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-div">
        <div class="logo">
            <img src="logo.png" alt="My_Logo">
        </div>
    <div class="title">INFOMANIA</div>
    <div class="sub-title">Simple & Compact</div>
    <div class="form">
        <!-- <div class="email">
            <input type="email" placeholder="Enter Email">
        </div>
        <div class="password">

            <input type="password" placeholder="Enter Password">
        </div> -->
        <!-- <div class="g-signin2" data-onsuccess="/auth/google"></div> -->
        <!-- <a href = "/auth/google"> Google sign in</a> -->
        <!-- <div class="card-body"  >
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
        </div> -->
        <div class="col">

            <a href="/auth/google" class="google btn"><i class="fa fa-google fa-fw">
              </i> Login with Google
            </a>
          </div>
    </div>



    </div>
   
   
    
    
</body>
</html>